body {
  background-color: #19292b;

}
.App {
  display: flex;
  flex: 1;
}

.coverPhoto {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
